.notes__form {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    width: 90%;
    height: max-content;
    max-width: 400px;
    margin: 0px 30px 1px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: -1px -2px 8px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 30px;
}

.notes__title {
    font-size: 22px;
    font-weight: bold;
}

.notes__input {
    width: 100%;
    border: none;
    outline: none;
    box-shadow: -1px -2px 8px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 1px;

}

.notes__textArea {
    width: 100%;
    height: 220px;
    resize: none;
    border: none;
    outline: none;
    box-shadow: -1px -2px 8px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 1px;
}

.notes__submit {
    text-align: center;
    border: none;
    outline: none;
    box-shadow: -1px -2px 8px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 150px;
    padding: 10px 20px;
    background-color: #fff;
    cursor: pointer;
    justify-self: flex-end;

}

.notes__submit:hover {
    color: #fff;
    background-color: #000;
    transition: background-color .2s;
}