.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.174);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open {
    display: flex;
}

.modal-container {
    position: relative;
    min-width: 320px;
    max-width: 480px;
    min-height: min-content;
    max-height: max-content;
    padding: 15px;
    background-color: #fff;
}

.modal-close {
    position: absolute;
    top: 0rem;
    right: 0rem;
}