.header__container {
    width: 100%;
    height: 60px;
    background: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    align-self: flex-start;
}

.header__title {
    font-size: 24px;
    text-transform: uppercase;
}

.header__container-logo {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr;
    padding: 0 25px;
    align-items: center;
}

.header__icon {
    display: flexbox;
    justify-self: flex-end;
    width: 30px;
}

.header__icon .bx {
    font-size: 30px;
}

.header__icon .bx-customize {
    text-align: end;
}

.header__icon .bx-customize:hover {
    color: rgb(49, 148, 214);
    font-size: 33px;
    cursor: pointer;
    transition: font-size .3s;
}