@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* box-sizing: content-box; */
}

html {
  min-height: 100%;
  /* max-width: 400px; */
  /* margin: 0 auto; */
}

body {
  display: block;
  height: 100%;
}